# compiled output
dist/
build/
node_modules/

# Prisma
node_modules/.prisma

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store
desktop.ini
Thumbs.db
ehthumbs.db

# Tests
coverage/
.nyc_output/

# IDEs and editors
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# env
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# temp
.temp
.tmp
scripts/

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
terraform.tfvars
terraform.tfvars.json
**/kind-kubeconfig
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports
report.*.json

# optional
*.db
"ignoreDeprecations": "6.0"