kube_config_path    = "./cluster/kind-kubeconfig"
kube_config_context = "kind-oficina-tech-challenge"

namespace_name  = "oficina-terraform"
app_name        = "oficina-api"
config_map_name = "oficina-api-config"
secret_name     = "oficina-secrets"

app_port       = 3000
jwt_expires_in = "1d"
cors_origin    = "*"
auth_demo_username = "admin"
auth_demo_password = "admin"
status_notification_webhook_url = ""

api_deployment_name   = "oficina-api"
api_service_name      = "oficina-api"
api_image             = "williamnasci/oficina-tech-challenge:latest"
api_image_pull_policy = "IfNotPresent"
api_replicas          = 2
api_service_type      = "LoadBalancer"
api_service_port      = 80
api_cpu_request       = "100m"
api_memory_request    = "256Mi"
api_cpu_limit         = "500m"
api_memory_limit      = "512Mi"

hpa_name         = "oficina-api-hpa"
hpa_min_replicas = 2
hpa_max_replicas = 6
hpa_cpu_target   = 70
hpa_memory_target = 75

postgres_service_name      = "postgres"
postgres_statefulset_name  = "postgres"
postgres_volume_claim_name = "postgres-data"
postgres_image             = "postgres:15"
postgres_storage_size      = "1Gi"
postgres_user              = "postgres"
postgres_password          = "supersecretpassword"
postgres_database          = "oficina_db"

jwt_secret = "supersecretkey"
